# Python code that assigns to the 
# variable url a string that is the value 
# of the first URL that appears in a link 
# tag in the string page.'

# page = contents of a web page
page =('<div id="top_bin"><div id="top_content" class="width960">'
'<div class="xyz float-left"><a href="http://xyz.com">')

start_link = page.find('<a href=')
link = page.find('http', start_link)
end_link = page.find('">', start_link)

url = page[link:end_link]

print url
